# Dependencies
node_modules

# Next.js build output
.next
out

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode
.idea
*.swp
*.swo

# Tests
coverage
